<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand pull-left"><i class="fa fa-briefcase" aria-hidden="true"></i> jobPoster</a>
    </div>
    <div class="navbar-right pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about" class="page-scroll">About</a>
        </li>
        <!-- create job post route -->
        <li>
          <a href="/jobs/new">Post Job</a>
        </li>
        <li>
          <a href="#contact" class="page-scroll">Contact</a>
        </li>
        <li>
          <a href="#top" class="page-scroll"><i class="fa fa-user" aria-hidden="true"></i> Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="background">

  <div class="container">
    <div class="row">
    <div class="col-centered col-md-12 col-sm-6 col-xs-10 pad-top content-section text-container" id="edit">
      <div class="panel panel-default">
        <div class="panel-body" id="editpanel">
          <h1 class="text-center">Edit Page</h1>
          <br>
          <br>
          <form action="/jobs/<%= @job.id %>" method="post" class="form-horizontal">
            <div class="form-group">
              <label for="job[title]">Job Title:</label>
              <input name="job[title]" value="<%= "#{@job.title}" %>" class="form-control">
            </div>
            <div class="form-group">
              <label for="job[company]">Company Name:</label>"
              <input name="job[company]" value="<%= "#{@job.company}" %>" class="form-control">
            </div>
            <div class="form-group">
              <label for="job[location]">Location:</label>
              <input name="job[location]" value="<%= "#{@job.location}" %>" class="form-control">
            </div>
            <div class="form-group">
              <label for="job[logo_url]">Company Logo:</label>
              <input name="job[logo_url]" value="<%= "#{@job.logo_url}" %>" class="form-control">
            </div>
            <div class="form-group">
              <label for="job[contact]">Contact:</label>
              <input name="job[contact]" value="<%= "#{@job.contact}" %>" class="form-control">
            </div>
            <div class="form-group">
              <label for="job[description]">Job Description:</label>
              <textarea name="job[description]" maxlength="2000" cols="50" rows="10" placeholder="Job Description" class="form-control"><%= @job.description %></textarea>
            </div>
            <input type="submit" value="Save" class="btn btn-dark align-center">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
