<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand pull-left"><i class="fa fa-briefcase" aria-hidden="true"></i> jobPoster</a>
    </div>
    <div class="navbar-right pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about" class="page-scroll">About</a>
        </li>
        <!-- create job post route -->
        <li>
          <a href="/jobs/new">Post Job</a>
        </li>
        <li>
          <a href="#contact" class="page-scroll">Contact</a>
        </li>
        <li>
          <a href="#top" class="page-scroll"><i class="fa fa-user" aria-hidden="true"></i> Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="background">

<div class="container">
  <div class="row">
    <div class="col-centered col-md-12 col-sm-6 col-xs-10 pad-top content-section text-left" id="index">
      <% @jobs.each do |job| %>
      <div class="panel panel-default job-panel" id="index">
        <div class="panel-body" id="indextop">
    <!-- Beginning of Job listings -->

        <ul class="nav">
          <li>
            <h2 class="text-center">
              <a href="/jobs/<%= job.id %>">
                <%= job.title %>
              </a>
            </h2>
          </li>
          <br>
          <li>
            <h4>
              Company: <%= job.company %>
            </h4>
          </li>
          <li>
            <h4>
              Location: <%= job.location %>
            </h4>
          </li>
        </ul>
        </div>
        <div class="panel-footer">
        <ul class="list-inline">
          <li>
            <a href="/jobs/<%=job.id %>/edit">
              <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <form action="/jobs/<%= job.id %>/delete" method="POST">
              <button id="deletebutton" type="submit" >
              <i type="submit"  class="fa fa-trash fa-lg" aria-hidden="true"></i>
            </button>
            </form>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>

</div>
