<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand pull-left"><i class="fa fa-briefcase" aria-hidden="true"></i> jobPoster</a>
    </div>
    <div class="navbar-right pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a href="#about" class="page-scroll">About</a>
        </li>
        <!-- create job post route -->
        <li>
          <a href="/jobs/new">Post Job</a>
        </li>
        <li>
          <a href="#contact" class="page-scroll">Contact</a>
        </li>
        <li>
          <a href="#top" class="page-scroll"><i class="fa fa-user" aria-hidden="true"></i> Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="background">

<div class="container">

  <div class="row">
    <div class="col-centered col-md-12 col-sm-6 col-xs-10 pad-top content-section text-left" id="show">
      <div class="panel panel-default job-panel">
        <div class="panel-body">
          <h2 class="text-center jobdescript">Job Description</h2>
          <br>
          <br>
          <div id="jobdescsec">
            <ul class="nav">
              <li>
                <h3>Job Title: <%= @job.title %></h3>
              </li>
              <li>
                <h3> Company: <%= @job.company %></h3>
              </li>
              <li>
                <h3> Location: <%= @job.location %></h3>
              </li>
              <li>
                <h3> Contact: <%= @job.contact %></h3>
              </li>
            </ul>
            <br>
            <br>
            <br>
            <p id="jobdescription"><%= @job.description %></p>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>
